language: node_js
node_js:
  - '14.17.4'
cache:
  directories:
    - node_modules
install:
  - yarn --silent
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - yarn build
  - yarn test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
matrix:
  include:
    - env: TARGET=packages/auction-core
    - env: TARGET=packages/capital-leiloes
notifications:
  email: true